{{- if and .Values.enableIstio .Values.createNamespace }}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.targetNamespace }}
  labels:
    {{- include "istio.labels" . | nindent 4 }}
{{- end }}
