{{- if and .Values.tls.enabled (and .Values.tls.autoTLS.enabled .Values.tls.nscert.enabled) }}

# Copyright 2020 The Knative Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: knative-serving-namespace-wildcard-certs
  labels:
    serving.knative.dev/release: "v{{ .Chart.AppVersion }}"
    serving.knative.dev/controller: "true"
    networking.knative.dev/wildcard-certificate-provider: nscert
    {{- include "knative-serving.networking-ns-cert.labels" . | nindent 4 }}
rules:
  - apiGroups: [""]
    resources: ["namespaces/finalizers"]
    verbs: ["get", "list", "create", "update", "delete", "patch", "watch"]

---
# Copyright 2019 The Knative Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: apps/v1
kind: Deployment
metadata:
  name: net-nscert-controller
  namespace: {{ .Release.Namespace }}
  labels:
    serving.knative.dev/release: "v{{ .Chart.AppVersion }}"
    networking.knative.dev/wildcard-certificate-provider: nscert
    {{- include "knative-serving.networking-ns-cert.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app: net-nscert-controller
      {{- include "knative-serving.networking-ns-cert.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        cluster-autoscaler.kubernetes.io/safe-to-evict: "true"
      labels:
        app: net-nscert-controller
        serving.knative.dev/release: "v{{ .Chart.AppVersion }}"
        {{- include "knative-serving.networking-ns-cert.labels" . | nindent 8 }}
    spec:
      # To avoid node becoming SPOF, spread our replicas to different nodes.
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app: net-nscert-controller
                topologyKey: kubernetes.io/hostname
              weight: 100
      serviceAccountName: controller
      containers:
        - name: controller
          # This is the Go import path for the binary that is containerized
          # and substituted here.
          image: gcr.io/knative-releases/knative.dev/serving/cmd/networking/nscert@sha256:302024936e22c28f8901f1de6052441553af57351abce76ffdbf4a1932cc2906
          resources:
            requests:
              cpu: 30m
              memory: 40Mi
            limits:
              cpu: 300m
              memory: 400Mi
          env:
            - name: SYSTEM_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: CONFIG_LOGGING_NAME
              value: config-logging
            - name: CONFIG_OBSERVABILITY_NAME
              value: config-observability
            # TODO(https://github.com/knative/pkg/pull/953): Remove stackdriver specific config
            - name: METRICS_DOMAIN
              value: knative.dev/serving
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            capabilities:
              drop:
                - all
          ports:
            - name: metrics
              containerPort: 9090
            - name: profiling
              containerPort: 8008
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: net-nscert-controller
    serving.knative.dev/release: "v{{ .Chart.AppVersion }}"
    networking.knative.dev/wildcard-certificate-provider: nscert
    {{- include "knative-serving.networking-ns-cert.labels" . | nindent 4 }}
  name: net-nscert-controller
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    # Define metrics and profiling for them to be accessible within service meshes.
    - name: http-metrics
      port: 9090
      targetPort: 9090
    - name: http-profiling
      port: 8008
      targetPort: 8008
  selector:
    app: net-nscert-controller
    {{- include "knative-serving.networking-ns-cert.selectorLabels" . | nindent 4 }}

---
{{- end }}
