apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "tm-cloud.backend-controller.fullname" . }}
  labels:
    {{- include "tm-cloud.backend-controller.labels" . | nindent 4 }}
{{- include "tm-cloud.imagePullSecrets" . }}
